<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Controller\Adminhtml\System\Config\Edit">
        <plugin name="reva_core_active_menu" type="Reva\Core\Plugin\Config\ActiveMenuPlugin"/>
    </type>
</config>
